<div class='content'>
  <div class="h3">Account</div>
  <form class="form">
    <label>Name</label>
    <%= @user.name %>
    <label>Email</label>
    <%= @user.email %>
  </form>
  <%= link_to 'Edit Account', edit_user_path %>
</div>
