<header>
  <div>
    <%= link_to "Compose", root_url, class: 'h2' %>
    <div class='flex-grow'></div>
    <nav>
      <% if logged_in? %>
        <div class="tooltip">
          <%= link_to "account_circle", current_user, class: 'material-symbols-rounded' %>
          <div class="tooltip-text">Profile</div>
        </div>
        <div class="tooltip">
          <%= link_to "logout", logout_path, class: 'material-symbols-rounded', method: :delete %>
          <div class="tooltip-text">Logout</div>
        </div>
      <% else %>
        <div class="tooltip">
          <%= link_to "login", login_path, class: 'material-symbols-rounded'%>
          <div class="tooltip-text">Login</div>
        </div>
      <% end %>
    </nav>
  </div>
</header>