<div class='header'>
  <%#= image_tag "Compose Filled.png", class: 'logo' %>
  <%= link_to "Compose", root_url, class:'text' %>
  <%#= link_to "edit_document", root_url, class: 'material-symbols-rounded logo' %>
  <div class='flex-grow'></div>
  <div class='navigation-links'>
    <% if logged_in? %>
      <%= link_to "Account", current_user %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
</div>