<div class="content">
  <div class="h3">New Document</div>
  <%= form_for @document, local: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.submit "Submit", class: "submit-button" %>
  <% end %>
</div>