// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$font: Roboto, Arial, Helvetica, sans-serif;
$header-font: "Avenir Next", Roboto, sans-serif;
$primary-color: hsl(205, 75%, 50%);
$error-color:   hsl(0, 100%, 60%);
$success-color: hsl(500, 50%, 40%);
$info-color: hsl(0, 100%, 0%);
$error-background-color:   hsla(0, 100%, 90%, 0.8);
$success-background-color: hsla(500, 50%, 80%, 0.8);
$info-background-color: hsla(0, 0%, 95%, 0.8);
$border-style: solid hsl(0, 0%, 90%) 1px;
$xxs: 0.25rem;
$xs: 0.5rem;
$sm: 0.75rem;
$md: 1rem;
$lg: 1.5rem;
$xl: 2rem;

.content {
  width: 85%;
  margin: auto;
  padding: $lg;
  background: white;
  border: $border-style;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  background:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('noise.svg');
  background-size: 30rem;
}

.h, header {
  margin: 0;
  padding: 0;
  font-family: $header-font;
  color: black;
  text-decoration: none;
}

.h1 {
  font-size: $xl;
  @extend .h;
}

.h2 {
  font-size: $lg;
  @extend .h;
}

.h3 {
  font-size: 1.25rem;
  @extend .h;
}

.h4 {
  font-size: $sm;
  @extend .h;
}

.h5 {
  font-size: $xs;
  @extend .h;
}

.h6 {
  font-size: $xxs;
  @extend .h;
}

.flex-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

header {
  background-color: white;
  height: 4rem;
  border-bottom: $border-style;
  margin-bottom: $lg;
  
  @extend .flex-container;
  
  & > *:first-child {
    .h2 {
      border-bottom: none !important;
      margin: 0 !important;
      font-style: normal !important;
    }

    @extend .content;
    @extend .flex-container;
    padding: 0;
    border: none;
  }

  nav {
    gap: $sm;

    @extend .flex-container;
  }
}

#DocumentEditor {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    user-select: text;
  }
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;

  &:hover {
    border-bottom: 2px solid $primary-color;
    margin-bottom: -2px;
  }
}

.tooltip {
  position: relative;
  @extend .flex-container;
}

.tooltip .tooltip-text {
  transition: 300ms opacity;
  opacity: 0;
  visibility: hidden;
  background-color: $info-background-color;
  color: $info-color;
  padding: $xxs;
  padding-left: $sm;
  padding-right: $sm;
  background: white;
  border: $border-style;
  backdrop-filter: blur($xxs);
  position: absolute;
  z-index: 1;
  top: 2.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  font-family: $font;
  opacity: 1;
}

form {
  margin-top: $md;
  margin-bottom: $md;

  label, input {
    display: block;
  }
  label {
    font-weight: bold;
  }
  input {
    margin-bottom: $lg;
  }

  input[type="text"], 
  input[type="email"], 
  input[type="password"] {
    outline: none;
    border: none;
    border-bottom: black solid 1px;
    font-size: $md;
    padding: $xxs;

    &:hover, &:focus { border-bottom: #0064b6 solid 1px; }
  }

  input[type="email"] { width: 14rem; }
  input[type="password"] { width: 10rem; }

  input[type="submit"] {
    margin-top: -$xs;
    padding: $xxs;
    padding-left: $xs;
    padding-right: $xs;
    background-color: white;
    border: $border-style;
    transition: 300ms border-color;
    border-bottom: 3px solid hsl(0, 0%, 90%);
    font-weight: bold;

    &:hover {
      border-bottom-color: $primary-color;
    }
  }
}

.search-toolbar {
  @extend .flex-container;
  gap: $sm;
  height: 3rem;
  margin-top: -1rem;
  border-bottom: $border-style;
  margin-bottom: $lg;

  .search-icon {
    margin-right: -$md;
  }

  input { margin: 0; }
  form { margin: $sm }
}

.document-list {
  display: flex;
  flex-direction: column;
  gap: $md;

  .document-item {
    @extend .flex-container;
    gap: $sm;
    a {
      font-style: normal !important;
    }
  }
}

.alert {
  margin: $lg;
}

.alert-success {
  color: $success-color;
  background: $success-background-color;
}

.alert-error {
  color: $error-color;
  background: $error-background-color;
}

.alert-info {
  color: $info-color;
  background-color: $info-background-color;
}

.text-editor {
  margin-top: -$lg;
  
  .toolbar {
    background: white;
    border-bottom: $border-style;
    
    .content {
      border: none;

      .document-title {
        @extend .flex-container;
        padding-bottom: $sm;

        .h3:hover {
          border-bottom: 2px solid $primary-color;
          margin-bottom: -2px;
        }

        input, form {
          margin: 0;
          padding: 0;
          font-size: 1.25rem;
          font-family: $header-font;
        }

        input:hover, input:focus {
          border-bottom: 2px solid $primary-color;
          margin-bottom: -2px;
        }
      }
    }
  }
  
  .editor-area {
    overflow: scroll;
    height: calc(100vh - 15rem);
    padding: $xl;
    
    .editor-page {
      background: white !important;
      aspect-ratio: 8.5 / 11;
      width: 35rem;
      margin: auto;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    }
  }
}

.btn-icon {
  padding: $xxs;
  @extend a;
}

.btn-icon__selected {
  color: $primary-color;
}

.horizontal-btn-group {
  @extend .flex-container;
  gap: 1rem;

  .combined-horizontal-btn-group {
    @extend .flex-container;
    gap: 0;
  }

  .size {
    @extend .flex-container;
  }
}

.math-element {
  @extend .flex-container;
  display: inline-flex;
  padding-bottom: -1rem;
  margin-bottom: -1rem;

  .inline-math {
    @extend a;
  }

  form {
    z-index: 1;
    position: absolute;
    margin-top: -1rem;
    padding: $xxs;
    background-color: white;
    @extend .flex-container;
    gap: $xs;
    // border: $border-style;

    box-shadow: 1px 1px 4rem rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

    textarea, form {
      margin: 0;
      padding: 0;
      border: none;
      border-bottom: $border-style;
      outline: none;
      font-family: $font;
      font-size: 1rem;
      // background-color: rgba(0,0,0,0);
      // backdrop-filter: blur(5px);
    }
  
    textarea:hover,
    textarea:focus {
      border-bottom: 2px solid $primary-color;
      margin-bottom: -1px;
    }
  }
}