@import 'shared';
@import 'light';
// @use 'dark';

body {
  font-family: $font;
  background:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('noise.svg');
  background-size: 30rem;
}

a {
  font-style: normal !important;
}

.content {
  display: block;
  width: 85%;
  margin: $l auto;
  padding: $l;
}

.h, header {
  margin: 0;
  padding: 0;
  font-family: $header-font;
  text-decoration: none;
}

.h2 {
  font-size: $l;
  @extend .h;
}

.h3 {
  font-size: 1.25rem;
  @extend .h;
}

.flex-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

header {
  height: 4rem;
  width: 100%;

  @extend .flex-container;

  &>*:first-child {
    .h2 {
      border-bottom: none !important;
      margin: 0 !important;
      font-style: normal !important;
    }

    @extend .content;
    @extend .flex-container;
    padding: 0;
    border: none;
  }

  nav {
    gap: $s;

    @extend .flex-container;
  }
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;

  &:hover {
    border-bottom: 2px solid $primary;
    margin-bottom: -2px;
  }
}

.tooltip {
  position: relative;
  @extend .flex-container;
}

.tooltip .tooltip-text {
  transition: 300ms opacity;
  opacity: 0;
  visibility: hidden;
  color: black;
  padding: $xxs;
  padding-left: $s;
  padding-right: $s;
  backdrop-filter: blur($xxs);
  position: absolute;
  z-index: 1;
  top: 2.25rem;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  font-family: $font;
  opacity: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  outline: none;
  border: none;
  border-bottom: black solid 1px;
  font-size: $m;
  padding: $xxs;

  &:hover,
  &:focus {
    border-bottom: $primary solid 2px;
  }
}

form.form {
  margin-top: $m;
  margin-bottom: $m;

  label,
  input {
    display: block;
  }

  label {
    font-weight: bold;
  }

  input,
  select {
    margin-bottom: $l;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  select {
    outline: none;
    border: none;
    font-size: $m;
    padding: $xxs;
    min-width: 5rem;
  }

  input[type="email"] {
    width: 14rem;
  }

  input[type="password"] {
    width: 10rem;
  }

  input[type="submit"] {
    transition: 300ms border-bottom-color;
    font-weight: bold;

    &:hover {
      border-bottom-color: $primary;
    } 
  }
}

.search-toolbar {
  @extend .flex-container;
  gap: $s;
  height: 3rem;
  margin-top: -1rem;
  margin-bottom: $l;

  .search-icon {
    margin-right: -$m;
  }

  input {
    margin: 0;
  }

  form {
    margin: $s
  }
}

.document-list {
  display: flex;
  flex-direction: column;
  gap: $m;

  .document-item {
    @extend .flex-container;
    gap: $s;

    a {
      font-style: normal !important;
    }
  }
}

.alert {
  padding: $l;
  animation: fadeOut 2.5s ease-in forwards;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  backdrop-filter: blur(0.5rem);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.alert-success {
  color: $success;
  background: $success-background;
  border: 1px solid $success;
}

.alert-error {
  color: $error;
  background: $error-background;
  border: 1px solid $error;
}

.alert-info {
  color: black;
  background: $info-background;
  border: 1px solid $info;
}

.document {
  // margin-top: -$l;

  .toolbar {
    padding: $m 0;

    .toolbar-content {
      width: 85%;
      margin: auto;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
      }

      input[type="number"] {
        border: none;
        font-size: $m;
        text-align: center;

        &:focus,
        &:hover {
          outline: none;

          border-bottom: 2px solid $primary;
          margin-bottom: -2px;
        }
      }

      .title {
        @extend .flex-container;
        padding-bottom: $s;

        .h3:hover {
          border-bottom: 2px solid $primary;
          margin-bottom: -2px;
        }

        input,
        form {
          margin: 0;
          padding: 0;
          font-size: 1.25rem;
          font-family: $header-font;
        }

        input:hover,
        input:focus {
          border-bottom: 2px solid $primary;
          margin-bottom: -2px;
        }
      }
    }
  }

  .editor-container {
    .editor {
      overflow: scroll;
      height: calc(100vh - 14.5rem);
      padding: $xl;
      outline: none;
      user-select: none !important;

      * {
        user-select: none !important;
        -webkit-user-modify: read-only;
      }

      .editor-page {
        caret-color: transparent;
        aspect-ratio: 8.5 / 11;
        width: 35rem;
        margin: auto;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
      }
    }
  }
}

.btn-icon {
  font-style: normal !important;
  padding: $xxs;
  @extend a;
}

.btn-icon__selected {
  color: $primary !important;
  stroke: $primary;
}

.horizontal-btn-group {
  @extend .flex-container;
  gap: 1rem;

  .combined-horizontal-btn-group {
    @extend .flex-container;
    gap: 0;
  }

  .size {
    @extend .flex-container;
  }
}

.lines {
  .cursor-container {
    width: 0;
    display: inline-block;

    .cursor {
      width: 1px;
    }
  }

  .line {
    @extend .flex-container;


    .character {
      .eof {
        width: 100%;
      }

      .element {
        display: inline-block;
        min-width: 0.2rem;
      }
    }
  }
}

.math-element {
  .inline-math {
    display: inline-block;
    padding-bottom: 0.4rem;
    margin-bottom: -0.4rem;

    &:hover {
      border-bottom: 2px solid $primary;
    }
  }

  .math-edit-form-container {
    width: 0;
    height: 0;
    display: inline-block;
  }

  form {
    z-index: 1;
    position: absolute;
    padding: $xxs;
    @extend .flex-container;
    gap: $xs;


    textarea:hover,
    textarea:focus {
      border-bottom: 2px solid $primary;
      margin-bottom: -1px;
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: $info-background;
  height: 0.25rem;
  margin-top: 0.5rem;
}

.sidebar-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-items: stretch;

  .alert {
    position: absolute;
    bottom: $m;
    right: $m;
    left: auto;
  }

  .content {
    width: calc(.90 * .85 * 100%);
    height: fit-content;
    // margin: 1rem;
  }

  #DocumentEditor {
    width: calc(100% - 16rem);
    min-width: none;

    .document {
      height: 100vh;
    }

    .editor {
      height: calc(100vh - 10.5rem);
    }

    .content {
      width: 95%;
    }
  }

  .sidebar {
    @extend .flex-container;
    // height: calc(100vh - 3rem);
    // width: 10%;
    min-width: 13rem;
    flex-direction: column;
    gap: $xs;
    padding: $l;

    .h2 {
      width: 100%;
      border-bottom: none !important;
      margin: 0 !important;
      font-style: normal !important;
    }

    hr { 
      width: 100%;
      background: $info-background;
      border: none;
    }

    .button_to {
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      width: 100%;
      background: transparent;
      font-size: $m;
    }

    .sidebar-item {
      @extend .flex-container;
      gap: $s;
      width: min-content;
      padding: $xs;
      padding-left: $xxs;
      font-family: $header-font;

      // border: $border-style;
      margin-bottom: 2px;

      &:hover {
        border-bottom: 2px solid $primary;
        margin-bottom: 0;
      }
    }
  }
}

.color-inputs {
  @extend .flex-container;
  gap: $s;
}