// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.debug_dump {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #c8c8c8;
  clear: both;
  float: left;
  width: 70%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::selection {
  background: none;
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
}

.material-symbols-rounded {
  text-decoration: none;
}

a {
  color:#0064b6; 
}
// .surface {
// }

html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  background:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('noise.svg');
  height: 100vh;
  background-size: 25rem;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  min-height: 20rem;
  background: white;
  
  .body {
    padding: 2rem;
  }
}

.alert-danger {
  color: red;
  padding: 1rem;
  background-color: rgb(255, 211, 211);
}

.alert-success {
  color: green;
  padding: 1rem;
  background-color: rgb(136, 202, 136);
}

#error_explanation {
  color: red;

  ul {
    color: red;
  }
}

.field_with_errors {
  .form-control {
    color: red;
    border-color: red !important;
    width: 100%;
  }
}

.form {
  .title {
    margin: none;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    label {
      margin-bottom: -1rem;
      font-weight: bold;
    }

    input[type="text"], input[type="email"], input[type="password"] {
      outline: none;
      border: none;
      font-size: 1rem;
      border-bottom: black solid 1px;
      padding-bottom: 3px;
     
      &:hover {
        border-bottom: #0064b6 solid 2px;
        padding-bottom: 2px;
      }

      &:focus {
        border-bottom: #0064b6 solid 2px;
        padding-bottom: 2px;
      }
    }

    .material-symbols-rounded {
      position: relative;
      top: .2rem;
      font-size: 1.2rem;
    }

    .submit-button {
      padding: 0.5rem;
      background-color: #0064b6;
      border: none;
      color: white;
      font-weight: bolder;
      width: min-content;
    }


  }
}

.document-list {
  display: flex;
  flex-direction: column;

  .document-item {
    background: white;
    padding: 1rem;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:last-child {
      border: none;
    }

    a {
      color: black;
      text-decoration: none;
      font-size: 1rem;
      font-family: Avenir;
      font-weight: 500;
    }

    .material-symbols-rounded {
      font-size: 1.6rem;
    }
  }
}

.documents-search-bar {
  // background-color: rgb(250, 250, 250);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  
  
  
  form:first-child {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
    margin: 0;
    &:hover {
      background-color: rgb(252, 252, 252);
    }

    input {
      border: none;
      outline: none;
      background: transparent;
      font-size: 1rem;
      flex-grow: 1;
      font-weight: 500;
      font-family: Avenir;
    }
  }

  form {
    height: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgb(250, 250, 250);
    }
  }

  button {
    background: none;
    border: none;
    font-size: 1rem;
    margin-top: 0.25rem;
  }
}

.text-editor {
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  
  .title {
    font-weight: bold;
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-items: start;
    align-items: center;

  }
  
  .title-input {
    outline: none;
    border: none;
    font-size: 1rem;
    border-bottom: black solid 1px;

    &:hover {
      border-bottom: #0064b6 solid 2px;
    }

    &:focus {
      border-bottom: #0064b6 solid 2px;
    }
  }

  .title-input::selection {
    background: #90CAF9;
  }

  .menu-bar {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-items: start;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    background: white;
    border-bottom: 1px solid rgb(200, 200, 200);

  }
  
  .size {
    padding: 0.3rem;
  }
  
  .editor-area {
    overflow: scroll;
    height: calc(100vh - 15rem);
    padding: 2rem;
    
    .editor {
      background: white !important;
      aspect-ratio: 8.5 / 11;
      width: 35rem;
      // padding: calc(35rem / 5);
      margin: auto;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    }
  }
}

.btn-text {
  background-color: rgba(170, 170, 170, 0.25);
  padding: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: min-content;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-items: center;
  align-items: center;
}

.btn-text__selected {
  border-bottom: #0064b6 solid 1.5px;
}

.btn-text:hover {
  background-color: rgba(170, 170, 170, 0.5);
}

.btn-icon {
  font-size: 1.2rem !important;
  padding: 0.3rem;
  border-radius: 0.25rem;

  .btn-icon__rounded {
    border-radius: 100%;
  }
}

.btn-icon:hover {
  background-color: rgb(240, 240, 240);
}

.btn-icon__selected {
  background-color: rgba(200, 200, 200, 0.5);
}

.horizontal-btn-group {
  display: flex;
  gap: 0.75rem;
}

.combined-horizontal-btn-group {
  gap: 0;
  border-radius: 0.25rem;
  display: inline-block;

  &>.btn-icon {
    border-radius: 0;
    border-left: 1px solid rgb(200, 200, 200)
  }

  &> :first-child {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border: none;
  }

  &> :last-child {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}
.flex-grow {
  flex-grow: 1;
}
.header {
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-family: 'Avenir Next';

  .logo {
    font-size: 2rem;
  }

  .text {
    font-size: x-large;
  }

  .navigation-links {
    display: flex;
    gap: 1rem;

    a {
      color: black;
      text-decoration: none;
    }
  }
}

.profiler-results {
  display: none !important;
}

.math-edit-form-container {
  position: fixed;

  .math-edit-form {
    padding: 1rem;
    backdrop-filter: blur(2rem);
    display: flex;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

    &>input {
      background: none;
      border: none;
      outline: none;
      width: min-content;
      border-bottom: 1px solid #c8c8c8;
      margin-right: 0.5rem;
      font-size: large;

      &> :focus {
        outline: none;
      }
    }

    .btn-icon {
      margin-left: 0.5rem;
    }

    .math {
      margin-top: 0.5rem;
    }
  }
}

